<!-- {% extends "base.html" %} -->

{% block title %}Users | {{ super() }}{% endblock title %}
{% block css %}

{% endblock css %}
{% block content %}
<h1 class='text-center'>What is in our database:</h1>
<div class="container">
    <table class='table'>
        <tr>
            <th scope="col">ID</th>
            <th scope='col'>First</th>
            <th scope='col'>Last</th>
            <th scope="col">Hobbies</th>
        </tr>
        {% for item in user: %}
        <tr>
            <th scope='row'>{{ item.id }}</th>
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.hobbies }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br></br>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{{ url_for('create') }}" method="POST">
                <label>
                    <h4>Create a new user:</h4>
                </label>
                <br>
                <label>First Name</label>
                <input type='text' name="first_name" value="" style="margin-left: 18px; width:199px;" autofocus>
                <br>
                <label>Last Name</label>
                <input type='text' name="last_name" value="" style="margin-left: 20px; width:199px;" autofocus>
                <br>
                <label>Your Hobbies</label>
                <input type='text' name='hobbies' value="" style="width:199px;" autofocus>
                <br>
                <input type="submit" value="create" style="width: 298px;">
            </form>
        </div>

        <div class="col">
            <form action="{{ url_for('read') }}" method="GET">
                <label>
                    <h4>Read or view a user</h4>
                </label>
                <br>
                <label>Enter an ID</label>
                <input type='text' name='id' value='' style="width: 216px;" autofocus>
                <br>
                <input type='submit' value='get' style="width: 298px;">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="{{ url_for('update') }}" method="POST">
                <label>
                    <h4>Update a user:</h4>
                </label>
                <br>
                <label>[ID] of user</label>
                <input type='text' name='id' value='' style="margin-left: 16px; width: 199px;" autofocus>
                <br>
                <label>First Name</label>
                <input type='text' name='first_name' value='' style="margin-left: 18px; width: 199px;"  autofocus>
                <br>
                <label>Last Name</label>
                <input type='text' name='last_name' value='' style="margin-left: 20px; width:199px;" autofocus>
                <br>
                <label>Your Hobbies</label>
                <input type='text' name='hobbies' value='' style="width:199px;" autofocus>
                <br>
                <input type='submit' value='update' style="width: 298px;">
            </form>
        </div>

        <div class="col">
            <form action="{{ url_for('delete') }}" method="POST">
                <label>
                    <h4>Delete a user:</h4>
                </label>
                <br>
                <label>ID of user</label>
                <input type="text" name="id" value="" style="width: 225px;" autofocus>
                <br>
                <input type="submit" value="delete" style="width: 298px;">
            </form>
        </div>
    </div>

</div>

{% endblock content %}