{% extends "base.html" %}

{% block title %}Users All | {{ super() }}{% endblock title %}

{% block content %}
    <h1 class='text-center'>What is in our database:</h1>
    <div class="container">
        <table class='table'>
            <tr>
                <th scope="col">ID</th>
                <th scope='col'>First</th>
                <th scope='col'>Last</th>
                <th scope="col">Hobbies</th>
            </tr>
            {% for item in user: %}
            <tr>
                <th scope='row'>{{ item.id }}</th>
                <td>{{ item.first_name }}</td>
                <td>{{ item.last_name }}</td>
                <td>{{ item.hobbies }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- {% set counter = namespace(value=0) %}
    {% for item in user: %}
        {% set counter.value = counter.value + 1 %}
        {% print("[{}, {}, {}, {}] ".format(item.id, item.first_name, item.last_name, item.hobbies)) %}
        <br></br>

    {% endfor %}     -->
{% endblock content %}